.DS_Store
.gradle
.vscode
docs/**/build/
docs/**/bundles/
docs/**/liferay-????-theme.war
docs/**/liferay-????-theme/
docs/**/liferay-????.zip/**/*.class
docs/**/liferay-????.zip/**/*.jar
docs/**/liferay-????.zip/**/.classpath
docs/**/liferay-????.zip/**/.metadata/
docs/**/liferay-????.zip/**/.project
docs/**/liferay-????.zip/**/.settings/
docs/**/liferay-????.zip/.gradle/
docs/**/liferay-????.zip/.yo-rc.json
docs/**/liferay-????.zip/gradle.properties
docs/**/liferay-????.zip/gradle/
docs/**/liferay-????.zip/gradlew
docs/**/liferay-????.zip/gradlew.bat
docs/**/liferay-????.zip/settings.gradle
docs/**/liferay-????.zip/setup_tutorial.sh
docs/**/liferay-????.zip/source-formatter-suppressions.xml
node_modules