.classpath
.DS_Store
.gradle/
.metadata/
.project
.settings/
docs/**/build/
docs/**/liferay-????-theme.war
docs/**/liferay-????-theme/
docs/**/liferay-????.zip/gradle.properties
docs/**/liferay-????.zip/gradle/
docs/**/liferay-????.zip/gradlew
docs/**/liferay-????.zip/gradlew.bat
docs/**/liferay-????.zip/settings.gradle
docs/**/liferay-????.zip/setup_tutorial.sh
docs/**/liferay-????.zip/source-formatter-suppressions.xml
docs/**/liferay-????.zip/.yo-rc.json
node_modules