[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
docutils = "==0.16"
jinja2 = "==2.11.3"
myst-parser = "~=0.16.1"
nodeenv = "*"
sphinxext-opengraph = "*"
sphinx = "==4.4.0"
sphinx-copybutton = "*"
sphinx-design = "~=0.0.13"
sphinx-intl = "*"
sphinx-notfound-page = "*"
sphinx-sitemap = "~=2.2.0"
wheel = "*"

[requires]
python_version = "3.8"
