[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
docutils = "==0.16"
jinja2 = "==2.11.3"
nodeenv = "*"
recommonmark = "*"
sphinxext-opengraph = "*"
sphinx = "==3.3.1"
sphinx-copybutton = "*"
sphinx-intl = "*"
sphinx-markdown-tables = "*"
sphinx-notfound-page = "*"
wheel = "*"

[requires]
python_version = "3.8"
