* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #8b81a6;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #ffffffd5;
  text-align: center;
}

.wrapper h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  color: #333;
  width: 95%;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  text-align: center;
}

.wrapper h2 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
  text-align: center;
}

.picture {
  height: 750px;
  width: 1000px;
}


.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin: 0px 20px 0px 10px;
}


header > a,
#root > div > h1 {
  display: inline-block;
  filter: brightness(150%);
  width: 279px;
  height: 76px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 20px 0;
}


header a {
  color: #333;
  font-size: 3px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

.Dashboard h1 {
  text-align: center;
  color: #333;
  font-size: 38px;
  margin: 5px 0px;
}

.Dashboard h2 {
  text-align: center;
  color: #333;
  font-size: 35px;
  margin: 5px 0px 20px 0px;
}


.Dashboard {
  justify-content: space-around;
  align-items: center;
  margin: 5px 0px 20px 0px;
}


.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 800px;
  margin: 50px 0px 20px 0px;
  background-color: lightblue;
  text-align: center;
}

.carousel > img {
  max-width: 45%;
  max-height: 400px;
}

.carousel-smaller {
  width: 50%;
}

.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller > img.active {
  border-color: #333;
  opacity: 0.6;
}

.carousel h2 {
  text-align: center;
  color: #333;
  font-size: 30px;
  margin: 5px 0px 20px 0px;
}

.carousel h3 {
  text-align: center;
  color: #333;
  font-size: 25px;
  margin: 5px 0px 20px 0px;
}


#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}



