headless-r3b2-api/src
headless-r3b2-client/src
headless-r3b2-impl/src/main/java/com/acme/headless/r3b2/internal/graphql
headless-r3b2-impl/src/main/java/com/acme/headless/r3b2/internal/jaxrs/application
headless-r3b2-impl/src/main/java/com/acme/headless/r3b2/internal/resource/v1_0/Base*.java
headless-r3b2-impl/src/main/java/com/acme/headless/r3b2/internal/resource/v1_0/OpenAPIResourceImpl.java
headless-r3b2-impl/src/main/java/com/acme/headless/r3b2/internal/resource/v1_0/factory
headless-r3b2-impl/src/main/resources/OSGI-INF/liferay/rest/v1_0
headless-r3b2-test/src/testIntegration/java/com/acme/headless/r3b2/resource/v1_0/test/Base*.java